if SHIELD_FLAKEM_DIY_LEFT

config ZMK_KEYBOARD_NAME
    default "FlakeM DIY"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_FLAKEM_DIY_LEFT

if SHIELD_FLAKEM_DIY_LEFT || SHIELD_FLAKEM_DIY_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_FLAKEM_DIY_LEFT || SHIELD_FLAKEM_DIY_RIGHT
